<button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
    Add {{type}}
  </button>
  <div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center  flex">
    <div class="relative w-auto my-6 mx-auto max-w-sm">
      <!--content-->
      <div class="border-0 w-96 rounded-lg shadow-lg relative flex flex-col  bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
          <h3 class="text-3xl font-semibold">
            {{title}}
          </h3>
          <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
            <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
              ×
            </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">


<form #postForm="ngForm" (ngSubmit)="submitForm()" class="space-y-3"  method="post">

<input *ngIf="edit" type="text" name="id" ngModel [(ngModel)]="id" hidden>


  <div *ngIf="type == 'sales'">
    <label for="product" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Product</label>

    <select class="bg-gray-50 border border-gray-300 mb-2 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" [(ngModel)]="prodId"   name="product" id="product" required>
      <option value="" disabled selected >select product</option>

      <option *ngFor="let item of product;" value="{{item.id}}">{{item.name}} (${{item.price}})</option>
    </select>




    <label for="sale_price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sales Price</label>
   <input ngModel  [(ngModel)]="price"  type="number" name="sales" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required>


  </div>





  <div *ngIf="type == 'customer'">
  <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">First Name</label>
  <input ngModel  [(ngModel)]="firstName"  type="text" name="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required>



<label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Last Name</label>
<input ngModel  [(ngModel)]="lastName"  type="text" name="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required>

</div>



    <div *ngIf="type == 'product'">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Category Id</label>


        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" [(ngModel)]="categoryId"   name="category" id="category" required>
          <option value="" disabled selected >select category</option>

          <option *ngFor="let item of category;" value="{{item.id}}">{{item.name}}</option>
        </select>
    </div>

    <div *ngIf="type == 'location'">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Address</label>
      <input  ngModel [(ngModel)]="address"  type="text" name="address" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required>

      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">City</label>
      <input  ngModel [(ngModel)]="city"  type="text" name="city" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required>

      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">State</label>
      <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" [(ngModel)]="state"   name="category" id="category" required>
        <option value="" disabled selected >select state</option>

        <option *ngFor="let item of unitedState;" value="{{item.stateName}}">{{item.stateName}}</option>
      </select>

      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Postal Code / Zip Code</label>
      <input  ngModel [(ngModel)]="postalCode"  type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required>

    </div>

    <div *ngIf="type =='product' || type == 'category'">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Name</label>
        <input  ngModel [(ngModel)]="name"  type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required>


        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Description</label>

        <input ngModel  [(ngModel)]="description"  type="text" name="description" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required>

        <div>
          <label for="image" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Image Url</label>
          <input ngModel  [(ngModel)]="image"  type="text" name="image" id="image" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required>
        </div>



    </div>

    <div *ngIf="type == 'product'">
      <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Price</label>
        <input ngModel  [(ngModel)]="price"  type="number" name="price" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required>

        <label for="image" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Quantity</label>
        <input ngModel  [(ngModel)]="quantity"  type="number" name="quantity" id="quantity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required>
    </div>







    <div class="mt-1 text-sm text-gray-500  dark:text-gray-300" id="user_avatar_help">Used For Category Thumbnail</div>

    <div class="flex items-center justify-end pt-6  border-t border-solid border-blueGray-200 rounded-b">
    <button class="bg-blue-500 active:bg-blue-700 p-2 text-white rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">submit</button>
    <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="closeModal()">
        Close
      </button>
    </div>
</form>





        </div>

      </div>
    </div>
  </div>
  <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
